{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>AskMeShurek</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100">

{% include "include/navbar.html" %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container" id = "main_structure">
    <div class="row">
      <div class="col-8">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="col-4">
        {% block side %}
        <div class = "popular_tags">Popular Tags</div>

        <span class = "topic_tags">
          <a class = "topic_tag1 topic_tag" href={% url 'tag_search' %}?q=Help+me> Help me </a>
          <a class = "topic_tag2 topic_tag" href={% url 'tag_search' %}?q=Rainbow> Rainbow </a>
          <a class = "topic_tag3 topic_tag" href={% url 'tag_search' %}?q=Python> Python </a>
          <a class = "topic_tag4 topic_tag" href={% url 'tag_search' %}?q=MySQL> MySQL </a>
          <a class = "topic_tag5 topic_tag" href={% url 'tag_search' %}?q=TechnoPark> TechnoPark </a>
          <a class = "topic_tag6 topic_tag" href={% url 'tag_search' %}?q=Tag6 > Tag6 </a>
          <a class = "topic_tag7 topic_tag" href={% url 'tag_search' %}?q=Tag7> Tag7 </a>
          <a class = "topic_tag8 topic_tag" href={% url 'tag_search' %}?q=Tag8> Tag8 </a>
        </span>

        <div class="members"> Best Members</div>
        <ul class = "member_tags">
          <li>
            <span class="tag"> Someone1 </span>
          </li>
          <li>
            <span class="tag"> Someone2 </span>
          </li>
          <li>
            <span class="tag"> Someone3 </span>
          </li>
          <li>
            <span class="tag"> Someone4 </span>
          </li>
          <li>
            <span class="tag"> Someone5 </span>
          </li>
        </ul>
        {% endblock side %}
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Made by Alexander Klonov APO-12.</span>
  </div>
</footer>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>

