{% load static %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href={% url "new_questions" %}>AskMeShurek</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="not_log">
            <a class="nav-link active" aria-current="page" href= {% url "login" %}>Login</a>
          </li>
          <li class="not_log">
            <a class="nav-link" href={% url "signup" %}">Register</a>
          </li>
          <li class = "logged">
            <img class = "avatar" src="{% static 'img/avatar.png' %}">
          </li>
          <li class = "logged_text">
            <span class = "nickname">DrRapper</span>
            <a class = "settings" href = {% url "settings" %}>settings</a>
            <a class = "log_out" href = {% url "login" %}>log out</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">ASK!</button>
        </form>
      </div>
    </div>
  </nav>
</header>