{% load static %}
<div class ="row question">
    <div class = "col-2">
        <div class = "login"> {{ question.author.nickname }} </div>
        <div> <img class = "question_avatar"  src={{ question.author.avatar.url }}  > </div>
        <div>
            <button type="button" class="btn btn-outline-danger">&#128077;</button>
            <span class="rating"> Likes: {{ question.rating }} </span>
            <button type="button" class="btn btn-outline-warning">&#128078;</button>
        </div>
    </div>
    <div class = "col-10">
        <a class = "question link" href= {% url 'one_question' pk=question.id %}>
            {{ question.title}}</a>
        <div class = "text"> {{ question.text }} </div>
        <div class = "under question">
            <a class = "answers" href={% url 'one_question' pk=question.id %}>Answers {{ question.answers.count }}  </a>
            <span class = "tags">Tags:</span>
            {% for tag in question.tags  %}
            <a href = {% url 'tag_search' tag=tag %}> {{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>